{% extends "layout.html" %}
{% block title %}Este es otra página{% endblock %}
{% block body %}
    <h1>Hola, bienvenido</h1>
    <div class="contenedor">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptates, accusamus officiis reiciendis, eos expedita? Quis vel animi optio architecto iusto inventore voluptatibus molestias. Corporis aspernatur molestiae adipisci recusandae odio minima numquam sunt necessitatibus veniam tempora animi vel iure repudiandae obcaecati inventore eos illum voluptate qui ullam quisquam sapiente, aliquid explicabo nihil reiciendis? Minus blanditiis inventore aperiam adipisci voluptatum cum unde animi quisquam esse consequatur distinctio a consequuntur est, nemo natus nihil, veniam pariatur tempore explicabo fugiat, tenetur perferendis. Perferendis corporis nesciunt eligendi saepe in tempore, beatae earum voluptatibus eos fuga, nihil odit ratione itaque voluptatum cumque, sed repellat voluptates.</p>
        <h3>Esta es un breve resumen de mi</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sunt possimus sit, eos, necessitatibus nostrum praesentium eius consequuntur dolores, qui laboriosam a dolorem quae architecto.</p>
    </div>
{% endblock %}